<!-- Template -->
<!-- Contentbereich -->
<table>
    <tr>
        <th>Beschreibung des Fehlers</th>
        <th>Projekt</th>
        <th>Komponente</th>
        <th>Fehler Status</th>
        <th>Zeitdifferenz</th>
    </tr>
      @var rows_o = context[0]['Data'];@
      @var rows_p = context[0]['Zeitdifferenz'];@
      @for var key_s in rows_o@
      @key_p = key_s@
         <tr id="">
            <td>#rows_o[key_s]['Beschreibung']#</td>
            <td>#rows_o[key_s]['Projekt']#</td>
            <td>#rows_o[key_s]['Komponente']#</td>
            <td>#rows_o[key_s]['Status']#</td>
            <td>#rows_p[key_p]#</td>
         </tr>
      @endfor@
 </table>
 <footer class="clButtonArea">
   <label for="Angemeldet">Mitarbeiter</label>
   <input type="text" id="AngemeldeteMitarbeiterRolle" value="#context[0]['Rolle']#" readonly/>
 </footer>


 <!-- EOF -->
