<!-- Template -->
<!-- Contentbereich -->
<table>
    <tr>
        <th>Beschreibung des Fehlers</th>
        <th>Bearbeiter</th>
        <th>Datum der Erfassung</th>
        <th>Komponente</th>
        <th>Name des Projekts</th>
        <th>Kategorie Fehler</th>
        <th>Fehler Status</th>
    </tr>
      @var rows_o = context[0]['Data'];@
      @for var key_s in rows_o@
         <tr id="#rows_o[key_s]['id']#">
            <td>#rows_o[key_s]['Beschreibung']#</td>
            <td>#rows_o[key_s]['Mitarbeiter']#</td>
            <td>#rows_o[key_s]['Datum']#</td>
            <td>#rows_o[key_s]['Komponente']#</td>
            <td>#rows_o[key_s]['Projekt']#</td>
            <td>#rows_o[key_s]['FehlerKategorie']#</td>
            <td>#rows_o[key_s]['Status']#</td>
         </tr>
      @endfor@
 </table>
 <footer id="ButtonArea" class="clButtonArea">
  <button id="erkannteFehler">Erkannte Fehler</button>
  <button id="behobeneFehler">Behobene Fehler</button>
  <label for="Angemeldet">Mitarbeiter</label>
   <input type="text" id="AngemeldeteMitarbeiterRolle" value="#context[0]['Rolle']#"readonly/>

</footer>
 <!-- EOF -->
