<!-- Template -->
<form id="idForm">
    
    <label for="Beschreibung">Beschreibung</label>
    <input type="text" class="Form" id="Beschreibung" value="#context[0]['Data']['Beschreibung']#" />
    <input type="hidden" id="src" value="#context[0]['Data']['src']#" />
    <input type="hidden" id="id" value="#context[0]['Data']['id']#"/>    
    <footer class="clButtonArea">
        <button id="KategorieUrsache.IdBack">Zurück</button>
        <button type="submit" id="KategorieUrsache.Save">Speichern</button>
    </footer>
 </form>
 
 <!-- EOF -->
